<div class = "player-profile player-color-<%= player.color %>" id="player_<%= id %>" >
  <div class="player-header">
    <div> <%= player.name %> </div>
    <div> $<%= player.money %> </div>
  </div>
    <div class="player-powerplant" onload="()=>console.log('mai aaya')" > Powerplants: <%= JSON.stringify(player.powerplants) %> </div>
    <div class="player-name"> Resources:<%= JSON.stringify(player.resources) %> </div>
  </div>