<div class = "player-profile" id="player_<%= id %>" >
    <div class="player-name"> <%= player.name %> </div>
    <div class="player-name"> Powerplants: <%= JSON.stringify(player.powerplants) %> </div>
    <div class="player-name"> Resources:<%= JSON.stringify(player.resources) %> </div>
    <div class="player-name"> Money:<%= player.money %> </div>
    <div class="player-name"> Color:<%= player.color %> </div>
    <!-- <img src="user.png" alt="user"/> -->
  </div>