<div
  class="player-profile player-color-<%= player.color %>"
  id="<%= player.name %>_<%= player.color %>"
>
  <div class="player-header">
    <div><%= player.name %></div>
    <div>$<%= player.money %></div>
    <div><i class="fas fa-home"></i><%= player.cities %></div>
  </div>
  <div class="player-power-plants">
    Powerplants: <%= JSON.stringify(player.powerplants) %>
  </div>
  <div class="player-resources">
    Resources:<%= JSON.stringify(player.resources) %>
  </div>
</div>
